{% extends "base.html" %}
{% load static %}
{% load material_form %}

{% block title %}
    Contato | {{ block.super }}
{% endblock %}


{% block css_person %}
        <style type="text/css">
        body {
            background: #eee;
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
    </style>
{% endblock %}


{% block container %}

{%  if success %}
    <div class="alert-success">
        Mensagem enviada com sucesso!
    </div>
{% endif %}

<div class="container expand-on-small-only">
    <div class="row valign change-form">
        <div class="m8 offset-m2 l8 offset-l2">
            <div class="card" id="card-radius">
            <form method="POST" enctype="multipart/form-data" class="viewform">{% csrf_token %}

                <div class="card-content">
                    {% form %}
                        {% part form.name prefix %}<i class="material-icons prefix">person</i>{% endpart %}
                        {% part form.email prefix %}<label for="id_email"></label><i class="material-icons prefix">email</i>{% endpart %}
                        {% part form.message prefix %}<i class="material-icons prefix">mode_edit</i>{% endpart %}
                    {% endform %}
                </div>

                <div class="card-action">
                    <div class="right-align">
                        <button class="waves-effect waves-light btn" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}