{% extends "base.html" %}
{% load material_form %}

{% block title %}
    Contato | {{ block.super }}
{% endblock %}

{% block container %}
{%  if success %}
    <div class="alert-success">
        Mensagem enviada com sucesso!
    </div>
{% endif %}

    <form method="POST" enctype="multipart/form-data" class="viewform">{% csrf_token %}
        <div class="card-content">
            {% form %}

                {% part form.name prefix %}<i class="material-icons prefix">person</i>{% endpart %}
                {% part form.email prefix %}<label for="id_email"></label><i class="material-icons prefix">email</i>{% endpart %}
                {% part form.message prefix %}<i class="material-icons prefix">mode_edit</i>{% endpart %}

            {% endform %}
        </div>

        <div class="card-action">
            <div class="right-align">
                <button class="waves-effect waves-light btn" type="submit">Enviar</button>
            </div>
        </div>

    </form>

{% endblock %}


{#{% part form.name prefix %}<i class="material-icons prefix">person</i>{% endpart %}#}

{% comment %}
<div class="row">
    <div class="col s12">
        <h1>Fale conosco</h1>

        <form action="#">

            <fieldset>
                <div class="input-field col s6">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="id_name">
                    <label for="id_name">Nome</label>
                </div>

                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input type="text" id="id_email">
                    <label for="id_mail">E-Mail</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea class="materialize-textarea" name="id_message" id="id_message" cols="30" rows="10">

                    </textarea>
                    <label for="id_message">Mensagem</label>
                </div>

                <div class="form-group">
                  <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </div>
                </div>
            </fieldset>


        </form>
    </div>
</div>

{% endcomment %}