{% extends "base.html" %}

{% block title %}
    Listagem de Produtos | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>Produtos</h1>
</div>

<div>
      <div class="row">

        <div class="col s4 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://placehold.it/350x250" class="responsive-img">
              <span class="card-title">Creme de barbear</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

        <div class="col s4 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://placehold.it/350x250" class="responsive-img">
              <span class="card-title">Condicionador</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

        <div class="col s4 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://placehold.it/350x250" class="responsive-img">
              <span class="card-title">Escova progressiva</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

      </div>
</div>
{% endblock %}
