# Created by .ignore support plugin (hsz.mobi)
.idea
.idea/misc.xml
.idea/modules.xml
.idea/vitrinebela.iml
.idea/workspace.xml
**/venv/*
.env
*.sqlite3
*pyc
vitrinebela/__pycache__/
__pycache__
/vitrinebela/venv
venv
/venv
/vitrinebela/local_settings.py
**/media/*
