{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ current_category }} | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>{{ current_category }}</h1>
</div>

<div>
  <div class="row">
    {% for product in product_list %}
        <div class="col s4 m4">
          <div class="card">
            <div class="card-image">
              <img src="{%  static 'img/capa.jpg'  %}" class="responsive-img">
              <span class="card-title">Creme de barbear</span>
            </div>
            <div class="card-content">
                <h5>{{ product }}</h5>
                {{ product.description|linebreaks }}
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
