{% load static %}
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking</title>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="{% static 'styles.css' %}">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}



    <link rel='stylesheet' href="{%  static 'fullcalendar/fullcalendar.css'%}" />
    <script src="{%  static 'fullcalendar/lib/jquery.min.js'  %}"></script>
    <script src="{%  static 'fullcalendar/lib/moment.min.js'  %}"></script>
    <script src="{%  static 'fullcalendar/fullcalendar.js'  %}"></script>
    <script src="{%  static 'fullcalendar/locale/pt-br.js'  %}"></script>


    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>

  </head>
  <body>


  <div id='calendar'></div>

{##}
{##}
{#    <div class="row">#}
{#      <div class="col-md-10 col-md-offset-1">#}
{#        <h1>Reservas</h1>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#      <div class="col-md-5 col-md-offset-1">#}
{#        <a href="{% url 'booking:date' year=previous.year month=previous.month %}">« Mês anterior</a>#}
{#      </div>#}
{#      <div class="col-md-5 text-right">#}
{#        <a href="{% url 'booking:date' year=next.year month=next.month %}">Próximo mês »</a>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#      <div class="col-md-10 col-md-offset-1">#}
{##}
{#        <table class="table table-bordered">#}
{##}
{#          <thead>#}
{#            <tr>#}
{#              <th colspan="7">{{ selected_date|date:"F" }} {{ selected_date.year }}</th>#}
{#            </tr>#}
{#            <tr>#}
{#              <th>Domingo</th>#}
{#              <th>Segunda</th>#}
{#              <th>Terça</th>#}
{#              <th>Quarta</th>#}
{#              <th>Quinta</th>#}
{#              <th>Sexta</th>#}
{#              <th>Sábado</th>#}
{#            </tr>#}
{#          </thead>#}
{##}
{#          <tbody>#}
{#            {% for week in calendar %}#}
{#            <tr>#}
{#              {% for day, booking in week %}#}
{#              <td#}
{#                {% if selected_date.month != day.month %}#}
{#                class ="other"#}
{#                {% else %}#}
{#                id="day_{{ day.day }}"#}
{#                {% endif %}#}
{#              >#}
{#                <strong>{{ day.day }}</strong>#}
{#                <br>#}
{#                {% if booking %}#}
{#                {{ booking.event }}#}
{#                {% else %}#}
{#                &nbsp;#}
{#                {% endif %}#}
{#              </td>#}
{#              {% endfor %}#}
{#            </tr>#}
{#            {% endfor %}#}
{#          </tbody>#}
{##}
{#        </table>#}
{##}
{#        {% if request.user.is_authenticated %}#}
{#        <h2>Faça sua reserva</h2>#}
{#        <form action="." method="post">#}
{##}
{#          <input type="hidden" name="user" id="user" value="{{ request.user.pk }}">#}
{##}
{#          <div class="form-group">#}
{#            <label for="event">Evento</label>#}
{#            <input class="form-control" type="text" id="event" name="event">#}
{#          </div>#}
{##}
{#          <div class="form-group">#}
{#            <label for="date">Data</label>#}
{#            <select class="form-control" name="date" id="date">#}
{#              {% for week in calendar %}#}
{#              {% for day, booking in week %}#}
{#              {% if not booking and selected_date.month == day.month %}#}
{#              <option value="{{ day.year }}-{{ day.month }}-{{ day.day}}">{{ day }}</option>#}
{#              {% endif %}#}
{#              {% endfor %}#}
{#              {% endfor %}#}
{#            </select>#}
{#          </div>#}
{##}
{#          <button type="submit" class="btn btn-primary">Enviar</button>#}
{##}
{#        </form>#}
{#        {% endif %}#}
{##}
{##}
{#      </div><!-- end .col-md-10 -->#}
{#    </div><!-- end .row -->#}

    <script src="{% static 'django_csrf.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>

  </body>
</html>



<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listDay,listWeek,listMonth'
			},
			defaultDate: new Date(),
			navLinks: true, // can click day/week names to navigate views
			selectable: true,
			selectHelper: true,


			select: function(start, end) {
				var title = prompt('Event Title:');
				var eventData;
				if (title) {
					eventData = {
						title: title,
						date_start: start,
						date_end: end
					};
					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
				}
				$('#calendar').fullCalendar('unselect');
			},


            eventReceive: function(event){
               var title = event.title;
               var start = event.start.format("YYYY-MM-DD[T]HH:MM:SS");
               $.ajax({
                 url: '/api/bookings/',
                 data: 'type=new&title='+title+'&startdate='+start+'&zone='+zone,
                 type: 'POST',
                 dataType: 'json',
                 success: function(response){
                   event.id = response.eventid;
                   $('#calendar').fullCalendar('updateEvent',event);
                 },
                 error: function(e){
                   console.log(e.responseText);
                 }
               });
               $('#calendar').fullCalendar('updateEvent',event);
            },

{#            eventDragStop: function (event, jsEvent, ui, view) {#}
{#               if (isElemOverDiv()) {#}
{#                 var con = confirm('Are you sure to delete this event permanently?');#}
{#                 if(con == true) {#}
{#                   $.ajax({#}
{#                     url: '/api/bookings/',#}
{#                     data: 'type=remove&eventid='+event.id,#}
{#                     type: 'POST',#}
{#                     dataType: 'json',#}
{#                     success: function(response){#}
{#                       if(response.status == 'success')#}
{#                         $('#calendar').fullCalendar('removeEvents');#}
{#                         $('#calendar').fullCalendar('addEventSource', JSON.parse(json_events));#}
{#                     },#}
{#                     error: function(e){#}
{#                     alert('Error processing your request: '+e.responseText);#}
{#                     }#}
{#                   });#}
{#                 }#}
{#               }#}
{#            },#}

            height: 650,

			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: '/api/bookings/'

{#                    [#}
{#				{#}
{#					title: 'All Day Event',#}
{#					start: '2016-09-01'#}
{#				},#}
{#				{#}
{#					title: 'Long Event',#}
{#					start: '2016-09-07',#}
{#					end: '2016-09-10'#}
{#				},#}
{#				{#}
{#					id: 999,#}
{#					title: 'Repeating Event',#}
{#					start: '2016-09-09T16:00:00'#}
{#				},#}
{#				{#}
{#					id: 999,#}
{#					title: 'Repeating Event',#}
{#					start: '2016-09-16T16:00:00'#}
{#				},#}
{#				{#}
{#					title: 'Conference',#}
{#					start: '2016-09-11',#}
{#					end: '2016-09-13'#}
{#				},#}
{#				{#}
{#					title: 'Meeting',#}
{#					start: '2016-09-12T10:30:00',#}
{#					end: '2016-09-12T12:30:00'#}
{#				},#}
{#				{#}
{#					title: 'Lunch',#}
{#					start: '2016-09-12T12:00:00'#}
{#				},#}
{#				{#}
{#					title: 'Meeting',#}
{#					start: '2016-09-12T14:30:00'#}
{#				},#}
{#				{#}
{#					title: 'Happy Hour',#}
{#					start: '2016-09-12T17:30:00'#}
{#				},#}
{#				{#}
{#					title: 'Dinner',#}
{#					start: '2016-09-12T20:00:00'#}
{#				},#}
{#				{#}
{#					title: 'Birthday Party',#}
{#					start: '2016-09-13T07:00:00'#}
{#				},#}
{#				{#}
{#					title: 'Click for Google',#}
{#					url: 'http://google.com/',#}
{#					start: '2016-09-28'#}
{#				}#}
{#			]#}
		});

	});

</script>